<?xml version="1.0"?>
<!--
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_Shield
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MSP\Shield\Api\ShieldInterface" type="MSP\Shield\Model\Shield" />
    <preference for="MSP\Shield\Api\IpsInterface" type="MSP\Shield\Model\Ips" />
    <preference for="MSP\Shield\Api\ThreatInterface" type="MSP\Shield\Model\Threat" />
    <preference for="MSP\Shield\Api\ScanResultInterface" type="MSP\Shield\Model\ScanResult" />
    <preference for="MSP\Shield\Api\DetectorRegexInterface" type="MSP\Shield\Model\DetectorRegex" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msp_shield_test" xsi:type="object">MSP\Shield\Command\Test</item>
            </argument>
        </arguments>
    </type>

    <type name="MSP\Shield\Api\IpsInterface">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="basic" xsi:type="object">MSP\Shield\Model\Processor\Basic</item>
                <item name="unpack" xsi:type="object">MSP\Shield\Model\Processor\Unpack</item>
            </argument>
            <argument name="filters" xsi:type="array">
                <item name="literal" xsi:type="object">MSP\Shield\Model\Filter\Literal</item>
            </argument>
            <argument name="detectors" xsi:type="array">
                <item name="sql_injection" xsi:type="object">MSP\Shield\Model\Detector\SqlInjection</item>
                <item name="xss" xsi:type="object">MSP\Shield\Model\Detector\Xss</item>
                <item name="language" xsi:type="object">MSP\Shield\Model\Detector\Language</item>
                <item name="filesystem" xsi:type="object">MSP\Shield\Model\Detector\Filesystem</item>
            </argument>
        </arguments>
    </type>

    <!-- Do not unpack following values -->
    <type name="MSP\Shield\Model\Processor\Unpack">
        <arguments>
            <argument name="skip" xsi:type="array">
                <item name="COOKIE.form_key" xsi:type="string">COOKIE.form_key</item>
                <item name="POST.form_key" xsi:type="string">POST.form_key</item>
                <item name="GET.form_key" xsi:type="string">GET.form_key</item>
                <item name="COOKIE.private_content_version" xsi:type="string">COOKIE.private_content_version</item>
                <item name="GET.uenc" xsi:type="string">GET.uenc</item>
                <item name="GET.token" xsi:type="string">GET.token</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\AppInterface">
        <plugin sortOrder="1" name="mSPShieldAppInterface" type="MSP\Shield\Plugin\AppInterfacePlugin"/>
    </type>
</config>