<?xml version="1.0"?>
<!--
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_Shield
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <section id="msp_securitysuite_shield" translate="label" type="text" sortOrder="70" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shield IDS/IPS</label>
            <tab>msp_securitysuite</tab>
            <resource>MSP_SecuritySuite::config</resource>

            <group id="general" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <comment><![CDATA[
                    <div class="msp_securitysuite-comment">
                        This module is a member of <strong><a target="_blank" href="https://github.com/magespecialist/m2-MSP_Security_Suite">MageSpecialist Security Suite</a></strong>. <a target="_blank" href="https://github.com/magespecialist/m2-MSP_Security_Suite">Click here</a> to see all the Security Suite modules.<br />
                        Source code, installation and configuration guide: <a target="_blank" href="https://github.com/magespecialist/m2-MSP_Security_Suite">https://github.com/magespecialist/m2-MSP_Security_Suite</a>.
                    </div>
                ]]></comment>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field canRestore="1" id="check_cookies" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable cookie check</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Cookies check in Magento could raise false positives. If enabled, we strongly suggest to
                        use "log mode" for a test period while tuning your parameters whitelist.
                    </comment>
                </field>
                <field canRestore="1" id="min_impact_log" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Minimum impact score to log event</label>
                    <comment>0 to disable, suggested value: 10. Threats are logged in System > MSP Security Suite >
                        Events Report.
                    </comment>
                </field>
                <field canRestore="1" id="min_impact_stop" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum impact score to activate lockdown protection</label>
                    <comment>0 to disable, suggested value: 50. WARNING: We strongly suggest to use "log mode" for a
                        test period before enabling the automatic lockdown.
                    </comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Log debug information</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>BEWARE: Sensitive user's information may be stored. Use this option only while tuning.
                    </comment>
                </field>
                <field canRestore="1" id="params_whitelist" translate="label" type="textarea" sortOrder="70"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Parameters whitelist whitelist</label>
                    <comment>One param name per line (e.g.: GET.paramname, COOKIE.paramname, POST.paramname)</comment>
                </field>
                <field canRestore="1" id="uri_whitelist" translate="label" type="textarea" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>URI Whitelist</label>
                    <comment>One URI per line</comment>
                </field>
            </group>
        </section>
    </system>
</config>
